$font-space: "Space Grotesk", sans-serif;
$font-inter: "Inter", sans-serif;
$primary-color: #83CD8F;
$secondary-color: #FED500;
$black-color: #090f1f;
$white-color: #fff;
$card-bg: #EEF6E7;
$banner-bg: #FFFADE;
$ptext-color: #2c3347;