// Banner Section starts here
.banner-section{
    background: $banner-bg;
    padding: 80px 0;
    .banner-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        .banner-text{
            .banner-title{
               margin-bottom: 30px;
            }
            p{
                margin-bottom: 40px;
            }
        }
        .banner-image{
            img{
                border-radius: 20px;
            }
        }
    }
}