.video-section{
    padding-top: 120px;
    .container-fluid{
        padding: 0 80px;
        .img{
            width: 100%;
            img{
                width: 100%;
                display: block;
            }
        }
    }
}