@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #090f1f;
  line-height: 27px;
  letter-spacing: 0%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

span, a {
  display: inline-block;
}

a {
  text-decoration: none;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

p {
  color: #2c3347;
}

ul, ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}

.theme-btn {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #090f1f;
  line-height: 22px;
  letter-spacing: normal;
  background-color: #EEF6E7;
  border-radius: 50px;
  padding: 19px 30px;
  border: 0;
}
.theme-btn i {
  margin-left: 10px;
}
.theme-btn:hover {
  color: #fff;
  background-color: #83CD8F;
}
.theme-btn.banner-btn {
  background-color: #090f1f;
  color: #fff;
}
.theme-btn.banner-btn:hover {
  background-color: #83CD8F;
  color: #fff;
}
.theme-btn.normal-btn {
  padding: 0;
  background: transparent;
  color: #090f1f;
  border-radius: 0;
}

.heading-one {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #090f1f;
  line-height: 88px;
  letter-spacing: normal;
}

.heading-three {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #090f1f;
  line-height: 30px;
  letter-spacing: normal;
}

.section-title {
  padding-bottom: 50px;
}
.section-title .title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #090f1f;
  line-height: 55px;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.header-section {
  padding: 30px 0;
}
.header-section .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-section .header-main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header-section .header-main nav ul li i {
  font-size: 10px;
  position: relative;
  top: -1px;
}
.header-section .header-main nav ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #090f1f;
  line-height: 27px;
  letter-spacing: 0%;
}
.header-section .header-main nav ul li a:hover {
  color: #83CD8F;
}

.banner-section {
  background: #FFFADE;
  padding: 80px 0;
}
.banner-section .banner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.banner-section .banner-main .banner-text .banner-title {
  margin-bottom: 30px;
}
.banner-section .banner-main .banner-text p {
  margin-bottom: 40px;
}
.banner-section .banner-main .banner-image img {
  border-radius: 20px;
}

.brands-section {
  padding: 120px 0;
}
.brands-section .brands-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.countries-section .countries-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.countries-section .countries-main .card-item {
  background: #EEF6E7;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.countries-section .countries-main .card-item .card-image {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}
.countries-section .countries-main .card-item .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.countries-section .countries-main .card-item .card-text {
  padding: 30px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.countries-section .countries-main .card-item .card-text .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.countries-section .countries-main .card-item .card-text .title-box a:hover {
  color: #83CD8F;
}
.countries-section .countries-main .card-item .card-text .title-box .card-price {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #090f1f;
  line-height: 27.5px;
  letter-spacing: normal;
}
.countries-section .countries-main .card-item .card-text .title-box .card-price span {
  color: #83CD8F;
}
.countries-section .countries-main .card-item .card-text .card-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2c3347;
  line-height: 22px;
  letter-spacing: normal;
}
.countries-section .countries-main .card-item .card-text .theme-btn {
  margin-top: 10px;
}
.countries-section .countries-main .card-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.video-section {
  padding-top: 120px;
}
.video-section .container-fluid {
  padding: 0 80px;
}
.video-section .container-fluid .img {
  width: 100%;
}
.video-section .container-fluid .img img {
  width: 100%;
  display: block;
}

.blog-section {
  padding: 120px 0;
}
.blog-section .section-title .title {
  max-width: 555px;
  margin: 0 auto;
  text-align: center;
}
.blog-section .blogs-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.blog-section .blogs-main .blog-item {
  overflow: hidden;
}
.blog-section .blogs-main .blog-item .blog-image img {
  width: 100%;
  display: block;
}
.blog-section .blogs-main .blog-item .blog-text {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  border: 1px solid #E3E3E3;
  border-radius: 0 0px 20px 20px;
}
.blog-section .blogs-main .blog-item .blog-text .blog-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.blog-section .blogs-main .blog-item .blog-text .blog-meta .meta-item {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2c3347;
  line-height: 22px;
  letter-spacing: normal;
}
.blog-section .blogs-main .blog-item .blog-text .blog-meta .meta-item i {
  margin-right: 5px;
}
.blog-section .blogs-main .blog-item .blog-text .heading-three:hover {
  color: #83CD8F;
}
.blog-section .blogs-main .blog-item .blog-text .normal-btn {
  margin-top: 15px;
}
.blog-section .blogs-main .blog-item .blog-text .normal-btn:hover {
  color: #83CD8F;
}

.footer-section {
  background: #090f1f;
  padding: 120px 0 34px 0;
}
.footer-section .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-section .footer-main .footer-widget {
  width: auto;
}
.footer-section .footer-main .footer-widget .footer-title {
  color: #fff;
  margin-bottom: 30px;
}
.footer-section .footer-main .footer-widget.newsletter .input-group {
  position: relative;
  margin-bottom: 30px;
}
.footer-section .footer-main .footer-widget.newsletter .input-group input {
  width: 360px;
  height: 50px;
  border-radius: 50px;
  background-color: #151B2A;
  text-transform: capitalize;
  border: 1px solid transparent;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
  letter-spacing: normal;
  -webkit-transition: all linear 0.3s ease;
  transition: all linear 0.3s ease;
  padding: 0 80px 0 30px;
}
.footer-section .footer-main .footer-widget.newsletter .input-group input:focus {
  outline: none;
  border: 1px solid #83CD8F;
}
.footer-section .footer-main .footer-widget.newsletter .input-group input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.footer-section .footer-main .footer-widget.newsletter .input-group input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.footer-section .footer-main .footer-widget.newsletter .input-group input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.footer-section .footer-main .footer-widget.newsletter .input-group input::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.footer-section .footer-main .footer-widget.newsletter .input-group input::placeholder {
  color: #fff;
  opacity: 1;
}
.footer-section .footer-main .footer-widget.newsletter .input-group .btn-submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 50px;
  color: #090f1f;
  background: #FED500;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  border: 0;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.footer-section .footer-main .footer-widget.newsletter .input-group .btn-submit:hover {
  background-color: #83CD8F;
  color: #fff;
}
.footer-section .footer-main .footer-widget.newsletter .social-icons {
  margin-top: 30px;
}
.footer-section .footer-main .footer-widget.newsletter .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer-section .footer-main .footer-widget.newsletter .social-icons ul li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #FED500;
  background: #151B2A;
  border-radius: 50%;
  font-size: 18px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.footer-section .footer-main .footer-widget.newsletter .social-icons ul li a:hover {
  background: #83CD8F;
  color: #fff;
}
.footer-section .footer-main .footer-widget .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer-section .footer-main .footer-widget .links li a {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 27px;
  letter-spacing: normal;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.8;
}
.footer-section .footer-main .footer-widget .links li a:hover {
  opacity: 1;
}
.footer-section .footer-main .footer-widget .address-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
}
.footer-section .footer-main .footer-widget .address-widget .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer-section .footer-main .footer-widget .address-widget .info p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 27px;
  letter-spacing: normal;
  opacity: 0.8;
}
.footer-section .footer-main .footer-widget .address-widget .info h4 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  line-height: 27.5px;
  letter-spacing: normal;
}
.footer-section .footer-copyright {
  margin-top: 120px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 18px;
  letter-spacing: normal;
}
.footer-section .footer-copyright .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 27px;
  letter-spacing: normal;
  opacity: 0.8;
}
.footer-section .footer-copyright .text-box .copyright-text p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 27px;
  letter-spacing: normal;
  opacity: 0.8;
}
.footer-section .footer-copyright .text-box .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.footer-section .footer-copyright .text-box .footer-links li a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 27px;
  letter-spacing: normal;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.8;
}
.footer-section .footer-copyright .text-box .footer-links li a:hover {
  color: #83CD8F;
  opacity: 1;
}